/* Estilos del encabezado */

header {
  background-color: $header-bg ;
  color: $header-bg;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 0;
  width: 100%;
}