.redes-sociales {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 background-color: $primary-color;
 border-radius: 10px;
 box-shadow: $box-shadow;
 border: $border-color;
 margin-top: 20px;
 margin-bottom: 20px;  
}

.redes-sociales a {
  color: $secondary-color;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
}

.redes-sociales a:hover {
  text-decoration: underline;
    color: $hover-color;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}