$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(116, 176, 196); 
$body-bg: rgb(212, 210, 210);
$body-color: rgb(76, 173, 190);
$body-h: rgb(10, 62, 71);
$body-p: rgb(77, 155, 167);
$header-bg: rgb(77, 155, 169);
$a-color:  rgb(77, 155, 166);
$main-bg: rgb(174, 233, 228);
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$button-bg: rgb(69, 129, 139);
$button-color: rgb(211, 204, 204);
$buttonhover-bg: rgb(54, 112, 121);
$form-bg: rgb(230, 226, 226); 
$border-color: 1px solid rgb(77, 155, 169);
$form-color: rgb(63, 100, 107);
$forminput-bg: rgb(77, 171, 185);
$productos-hover: rgb(35, 61, 65);
$productos-bs: 0 4px 15px rgba(0, 0, 0, 0.2);
$footer-bg: rgb(7, 81, 94);
$hover-color: rgb(160, 145, 145);
$footer-color: rgb(22, 34, 146);